* {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header, .main-img {
    text-align: center;
    padding: 0;
}

.intro, .ingredients-steps {
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    margin: 20px;
}

button {
    font-size: 20px;
    border-radius: 12px;
}